<div class="row">
<h1 id="explab">Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">    
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cum totam iste consequuntur porro sed perferendis corporis velit aliquid deserunt. Perspiciatis repudiandae maxime sunt eius sequi beatae inventore quo temporibus.
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cum totam iste consequuntur porro sed perferendis corporis velit aliquid deserunt. Perspiciatis repudiandae maxime sunt eius sequi beatae inventore quo temporibus.
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>(years)</h3>
        </li>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cum totam iste consequuntur porro sed perferendis corporis velit aliquid deserunt. Perspiciatis repudiandae maxime sunt eius sequi beatae inventore quo temporibus.
        </p>
    </ul>
</div>
</div>