<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="30"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'yellow'"
      [innerStrokeColor]="'yellow'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="35"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/fisica.png'"
      [showImage]="true"
      [imageHeight]="120"
      [imageWidth]="120"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'rgb(39, 171, 211)'"
      [innerStrokeColor]="'rgb(39, 171, 211)'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="30"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="90"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="35"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/git.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'black'"
      [innerStrokeColor]="'black'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="35"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'orange'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/office.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="130"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'rgb(218, 75, 19)'"
      [innerStrokeColor]="'rgb(218, 75, 19)'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="25"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/autocad.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="150"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'red'"
      [innerStrokeColor]="'red'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div><div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/geogebra.png'"
      [showImage]="true"
      [imageHeight]="110"
      [imageWidth]="110"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'rgb(179, 180, 221)'"
      [innerStrokeColor]="'rgb(179, 180, 221)'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [title]="'raduis'"
      [imageSrc]="'../assets/grupo.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [titleColor]="'pink'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'green'"
      [animation]="true"
      [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'raduis'"
    [imageSrc]="'../assets/ing.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'pink'"
    [animation]="true"
    [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'raduis'"
    [imageSrc]="'../assets/mat.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'purple'"
    [innerStrokeColor]="'purple'"
    [animation]="true"
    [animationDuration]="2000"
>   </circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="55"
    [radius]="100"
    [title]="'raduis'"
    [imageSrc]="'../assets/visual.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'rgb(9, 68, 102)'"
    [innerStrokeColor]="'rgb(9, 68, 102)'"
    [animation]="true"
    [animationDuration]="2000"
>   </circle-progress>
</div>
</div>
