<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.perfil.jpg"
         class="img-fluid" id="fotoperfil">

        <p id="nombre">Wagner Schwab Iván Ezequiel</p>
        <p id="fullstack">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1 id="titulo">Información Profesional</h1>
 <p id="texto">Había una vez un barco chiquito. Mambru se fue a la guerra q dolor q dolor q pena</p>
        </span>
    </div>
</div>