<div class="row">
    <div>
        <img src="../../../assets/foto.perfil.jpg"
         class="img-fluid">
    </div>
    <div>
        <p>Wagner Schwab Iván Ezequiel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca De Mí</h1>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore nam laboriosam exercitationem consequatur ab officiis veniam eos? Quas, temporibus, atque ratione, aspernatur cumque dicta consequatur fugiat accusamus ex recusandae nam.</p>
        </span>
    </div>
</div>